<div class="container contact">
	<div class="page-header muted">
      <h1>品牌介绍 </h1>
    </div>
    <div class="hero-unit">
    <p>
  &nbsp&nbsp台湾成伟公司成立于2002年，拥有品牌包括『盛香珍』、【华元】『New Choice』、及『Triko』。</br></br>
        &nbsp&nbsp 主要业务为：生产制造饼干，果冻及坚果类食品。其中『盛香珍』更是家喻户晓，招牌响当当的老品牌，至今已经超过半个世纪 。目前果冻及瓜子居台湾食品领导品牌。</br></br>
       &nbsp&nbsp台湾成伟公司所秉持的企业理念是：完美的品质，绝佳的服务，不断的创新，以及最快的速度来满足消费者的需求。追求多样化的商品变化，推陈出新是台湾成伟公司一贯的坚持，也是至今屹立不倒的主因。</br></br>
          &nbsp&nbsp台湾成伟公司持诚恳务实的经营理念，已成为台湾食品企业中的翘楚，而且也外销到全世界近30个国家，企业版图已横跨日本、韩国、东南亚、中东、美国、加拿大、南美洲、欧洲、澳洲、等地区。可说是拥有国际级的实力与知名度。</br></br>
 
     &nbsp&nbsp现在，中国消费者对进口食品的需求日益增强，台湾成伟公司名下[盛香珍]、【华元】品牌强势进军中国大陆市场，正在全国各个城市寻找优秀的经销商，如果您拥有良好的销售团队和网络、对进口食品销售有诚挚的热情，请与我们联系。</br></br>

          &nbsp&nbsp感谢各位华元老经销商过去对台湾成伟华元产品的大力支持，欢迎各位新经销商的加盟台湾成伟产品。我们将本着互惠、双赢的原则，与各位经销商一起共同发展，打造中国进口食品第一品牌。</br></br>


品质、服务、创新、速度！


    </p>
    </div>
	
</div>
