<div class="container contact">
	<div class="page-header muted">
      <h1>中国代理商联系方式 </h1>
    </div>
    <div class="hero-unit">
      <B>丹东市嘉鹏商贸有限公司</B><br><br> 
      邮箱地址：jiapengtrading@gmail.com</br></br>
      联系电话：0415-2340073   18704157518</br></br>
      传真电话：0415-2827511</br></br>
      联系人：王经理 朱小姐</br></br>
    </div>
    <div class="hero-unit">
      <B>东北大区联系人</B><br><br>
      联系电话：13842057703    13840216646</br></br>
      联系人：虞森泉</br></br>
    </div>
    <div class="hero-unit">
      <B>华北大区联系人</B><br><br>
      联系电话：13803059998</br></br>
      联系人：程光</br></br>
    </div>	
</div>
