<div class="topbar">
  <div class="container">
    <ul class="nav nav-pills categotryButtons">
    	<li><a href="#" class="brand">产品种类：</a></li>
    	<li class="divider-vertical"></li>
    	<li><a class="btn btn-info btn-large btn-primary jelly">台湾果冻系列</a></li>
    	<li class="divider-vertical"></li>
    	<li><a class="btn btn-info btn-large btn-primary beans">坚果青豆系列</a></li>
    	<li class="divider-vertical"></li>
    	<li><a class="btn btn-info btn-large btn-primary cookie">饼干系列</a></li>
    	<li class="divider-vertical"></li>
    	<li><a class="btn btn-info btn-large btn-primary snack">膨化食品系列</a></li>
    	<li class="divider-vertical"></li>
    	<li><a class="btn btn-info btn-large btn-primary giftset">礼盒系列</a></li>
    </ul>
  </div>
</div>